img.resize {
	max-width: 20%;
	max-height: 20%
}

img {
	object-position: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu {
	
}

.menu-items {
	margin: 10rem;
	padding: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}