img.resize {
	max-width: 20%;
	max-height: 20%
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.hero-image {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-image:linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2))url(./images/treesbackground.jpg);
	background-position: 50% 50%;
	background-size: cover;
	height: 90vh;
	width: 100%;
	justify-content: flex-end;
	margin-bottom: 2rem;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1rem auto;
	padding: 1rem;
	max-width: 4rem;
}

nav li {
	margin: 1rem;
	padding: 1rem;
	border-style: hidden;
	border-radius: 25px;
}

div.contact {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-radius: 25px;
	margin: 2rem auto;
	padding: 1rem;
}