
.hero-container {
	display: flex;
	align-items: flex-start;
	background-image: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),url(../images/treesbackground.jpg);
	background-position: 50% 50%;
	background-size: contain;
	height: 15rem;
	width: 100%;
	justify-content: center;
	margin-bottom: 1rem;
}

h1 {
	
}

.menu-container {
	background-color: inherit;
	margin-left: 100px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1rem;
	padding: 1rem;
}

nav li {
	margin: 1rem;
	padding: 1rem;
	max-width: 5rem;
	border-style: hidden;
	border-radius: 15px;
}

.me {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 1rem;
	padding: 1rem;
}

.resize-center {
	align-items: center;
	display: flex;
	min-width: 20%;
	max-width: 30%;
	margin-left: 1rem;
	margin-right: 1rem;
	border-style: solid;
	border-color: rgb(255, 127, 80);
	border-radius: 15px;
}

.me-info {
	align-items: flex-start;
	min-width: 20%;
	max-width: 30%;
}

.skills {
	align-items: flex-end;
	min-width: 20%;
	max-width: 30%;
}