html {
	background-color: rgb(128, 128,128);
}

h1 {
	position: relative;
	color: rgb(255,250,240);
	font-weight: bold;
	font-size: 3rem;
}

h2 {
	background-color: rgba(244,164,96, 0.7);
	background-blend-mode: all;
	color:rgb(255,250,240);
}

nav li {
	background-color: rgb(128, 128,128);
	color: rgb(143, 188, 143);
}

.menu-item {
	text-decoration: none;
	color:rgb(255,250,240);
}

.contact {
	
}