html {
	background-color: rgb(47,79,79);
}

h1 {
	color: rgb(255,250,240);
	font-size: large;
}

h2 {
	background-color: rgb(46,139,87);
}

nav li {
	background-color: rgb(255,250,240);
}

a.menu-item {
	text-decoration: none;
}