* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

a {
    color: white;
}

h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

.modal {
    left: 20rem;
    top: 10rem;
    height: 60%;
    width: 60%;
}

.about__body-container {
    background-color: white;
}

.about__header-container {
    background-image: url(../images/piano-pure-virtual-unsplash-2.jpg);
}  

.main__me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__me-info {
    margin: 10rem;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}

.main__pic-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: rgb(125, 187, 146);
    width: 100%;
    display: flex;
    justify-content: center;
}

.headshot-pic {
   width: 20%;
   height: 20%;
}

.main__skills {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills__title {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.skills__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    text-align: center;
}

.skill-grid-item {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    min-width: 15rem;
    max-width: 20rem;
}