* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
    font-size: 6rem;
}

.projects-section a {
    color: black;
}

a h2 {
    color: black;
}

h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}


h4 {
    font-size: 20px;
}

p {
    font-size: 2rem;
}

.projects__header-container {
    background-image: url(../images/laptop-oskar-yildiz-unsplash-2.jpg);
}

.nav-item a {
    color: white;
}

.modal {
    left: 20rem;
    top: 10rem;
    height: 60%;
    width: 60%;
}

.projects-section {
	display: flex;
	flex-direction: column;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.project-a {
    background-color: white;
}

.project-b {
    background-color: rgb(60, 89, 182);
}

.project__pic {
	display: flex;
	justify-content: center;
    align-items: center;
    height: 120rem;
}

.project__pic-one {
	margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.project__pic-two {
	margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.project__pic-three {
	margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.project__button {
    color: white;
    background-color: black;
    width: 3rem;
    height: 3rem;
    border: none;
    margin: 1rem;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.project__collapsible {
    background-color: rgb(63, 63, 63);
    color: white;
    text-align: center;
}

.footer-container a {
    color: white;
}
