.body-container {
    background-image: url(/images/forest3.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}